body{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header{
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    object-fit: cover;
}
.header-image{
    position: absolute;
    top: -10vh;
    z-index: -1;
}
.nav{
    display: flex;
    margin: 1vh 10vw;
    justify-content: space-between;
    color: white;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-bar{
    display: flex;
}
.nav-bar li{
    font-size:1em ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    padding-left: 30px;
    list-style: none;    
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 22vh;
    align-items: center;
}
#abc{
    margin-bottom: 1px;
}
#def{
    margin-top: 2px;
}
.logo{
    width: 39vh;
}
.head h3{
    font-size: 2.1em;
    color: whitesmoke;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search {
    display: flex;
    width:55vw ;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    padding: 5px 0;
}
.search input{
    outline: none;
    border: none;
    width: 50%;
    padding-top: 10px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.search p{
    color: gray;
    border-right: 1px solid gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    padding-right: 10px;
}
.search i:first{
    font-size: 20px;
    color: rgb(rgb(62, 5, 5), );
    padding-left: 10px;
    padding-right: 10px;
}
.search{
    color: gray;

}
.h1{
    padding-top: 80px;
    font-size: xx-large;
    font-weight: lighter;
    text-align: center;
}
.h1 img{
    height: 30px;
}
.below-flag1{
    border: 1px;
    height: 900;
    width: 900;
    align-items: center;
}
.below-flag {
    font-size: 25px;
    text-align: center;
    font-family: Okra, Helvetica, sans-serif;
    font-weight: lighter;
    color: rgb(131, 126, 126);
}